/* Arrow */
.arrow {
	display: block;
	position: absolute;
	top: var(--padding);
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.25em;
	display: none;
	color: #ccc;
}
.arrow--right {
	display: block;
	color: inherit;
}

/* Arrow lines */
.arrow:before,
.arrow:after {
	content: '';
	width: 1em;
	height: 0.2em;
	background-color: currentColor;
	display: block;
	border-radius: 0.1em;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
.arrow:before {
	transform-origin: bottom left;
	margin-top: 0.2em;
	margin-left: -0.1em;
	transform: rotate(-45deg);
	animation-name: arrowBefore;
}
.arrow:after {
	transform-origin: bottom right;
	margin-top: -0.2em;
	margin-right: -0.1em;
	transform: rotate(45deg);
	animation-name: arrowAfter;
}

/* Animations */
@keyframes arrowBefore {
	30% {
		transform: rotate(-45deg);
		margin-left: -0.1em;
	}
	40% {
		transform: rotate(-30deg);
		margin-left: -0.4em;
	}
	50% {
		transform: rotate(-45deg);
		margin-left: -0.1em;
	}
	60% {
		transform: rotate(-30deg);
		margin-left: -0.4em;
	}
	70% {
		transform: rotate(-45deg);
		margin-left: -0.1em;
	}
}
@keyframes arrowAfter {
	30% {
		transform: rotate(45deg);
		margin-right: -0.1em;
	}
	40% {
		transform: rotate(30deg);
		margin-right: -0.4em;
	}
	50% {
		transform: rotate(45deg);
		margin-right: -0.1em;
	}
	60% {
		transform: rotate(30deg);
		margin-right: -0.4em;
	}
	70% {
		transform: rotate(45deg);
		margin-right: -0.1em;
	}
}