/* Button */
.btn {
	position: fixed;
	padding: 10px;
	width: 50px;
	height: 50px;
	top: var(--info-padding);
	right: var(--info-padding);
	color: var(--text-color);
	background-color: transparent;
	border: none;
	opacity: 0.5;
	transition: 0.25s all ease;
	cursor: pointer;
}
.btn:hover {
	transform: scale(1.1);
	opacity: 1;
}

/* info open & close */
.btn--info-close, .btn--info-open {
	position: fixed;
	color: var(--text-color);
	transition: all 0.5s ease;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	overflow: hidden;

	border-radius: 1.5em;
}

/* info open */
.btn--info-open {
	border: 3px solid var(--text-color);
	background-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 3em;
	height: 3em;
	bottom: -0.8rem;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.5s ease;
}
.btn--info-open.b, .btn--info-open.c {
	opacity: 0;
}
@media (min-width: 768px) {
	.btn--info-open {
		left: -0.8em;
		top: 25%;
		transform: none;
		border-top-left-radius: 0;
		border-bottom-right-radius: 1.5em;
	}
	.btn--info-open .arrow {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

/* info close */
.btn--info-close {
	transform: translateY(90vh);
	right: var(--info-padding);
	top: calc(var(--info-padding) / 2);
	background-color: var(--bg-color);
	font-size: 36px;
	width: 1.2em;
	height: 1.2em;
	opacity: 0;
	z-index: -1;
	border: none;
}
.btn--info-close:hover {
	opacity: 0.1;
}
.btn--info-close.b, .btn--info-close.c {
	opacity: 0.75;
	z-index: 1;
}
@media (min-width: 768px) {
	.btn--info-close {
		transform: translateX(-35vw);
		left: calc(40vw - 1.2em - var(--info-padding) / 2);
	}
}
@media (min-width: 992px) {
	.btn--info-close {
		left: calc(30vw - 1.2em - var(--info-padding) / 2);
	}
}
@media (min-width: 1024px) {
	.btn--info-close {
		left: calc(25vw - 1.2em - var(--info-padding) / 2);
	}
}

/* Add city */
.btn--add-city {
	text-decoration: none;
	font-size: 40px;
	line-height: 50px;
	top: calc(120px + var(--info-padding));
	padding: 0;
	text-align: center;
}

/* Theme */
.btn--theme {
	top: calc(60px + var(--info-padding));
}
.btn--theme g {
	transition: 0.5s all;
}
.btn--theme .sun {
	opacity: 0;
}
.btn--theme .moon {
	opacity: 1;
}
.page.dark .btn--theme .sun {
	opacity: 1;
}
.page.dark .btn--theme .moon {
	opacity: 0;
}

/* Court */
.btn--court {
	left: calc(var(--info-padding)/2);
	top: calc(var(--info-padding)+6em);
	width: 60px;
	height: 60px;
}