/* Button */
.btn {
	position: fixed;
	padding: 10px;
	width: 50px;
	height: 50px;
	top: var(--padding);
	right: var(--padding);
	color: var(--text);
	background-color: transparent;
	border: none;
	opacity: 0.5;
	transition: 0.25s all ease;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	transform: scale(1.1);
	opacity: 1;
	outline: none;
}

/* info open & close */
.btn--info-close, .btn--info-open {
	position: fixed;
	color: var(--text);
	transition: all 0.5s ease;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
	overflow: hidden;

	border-radius: 1.5em;
}
/* info open */
.btn--info-open {
	border: 3px solid var(--text);
	background-color: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 3em;
	height: 3em;
	bottom: -0.8rem;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.5s ease;
}
.btn--info-open.b, .btn--info-open.c {
	opacity: 0;
}
@media (min-width: 768px) {
	.btn--info-open {
		left: -0.8em;
		top: 25%;
		transform: none;
		border-top-left-radius: 0;
		border-bottom-right-radius: 1.5em;
	}
	.btn--info-open .arrow {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

/* info close */
.btn--info-close {
	transform: translateY(90vh);
	right: var(--padding);
	top: calc(var(--padding) / 2);
	background-color: var(--bg);
	font-size: 36px;
	width: 1.2em;
	height: 1.2em;
	opacity: 0;
	z-index: -1;
	border: none;
}
.btn--info-close:hover {
	opacity: 0.1;
}
.btn--info-close.b, .btn--info-close.c {
	opacity: 0.75;
	z-index: 3;
}
@media (min-width: 768px) {
	.btn--info-close {
		margin-left: .5em;
		top: calc(var(--padding) + 1%);
		transform: translateX(-35vw);
		left: calc(35vw - 1.2em - var(--padding) / 2);
	}
}
@media (min-width: 992px) {
	.btn--info-close {
		left: calc(30vw - 1.2em - var(--padding) / 2);
	}
}
@media (min-width: 1024px) {
	.btn--info-close {
		left: calc(22vw - 1.2em - var(--padding) / 2);
	}
}

/* Court */
.btn--court {
	top: calc(var(--padding) + 6em);
	left: calc(var(--padding) / 2);
	width: 60px;
	height: 60px;
}

/* Favorites */
.btn--favorite {
	right: var(--padding);
	top: calc(var(--padding) + 10em);
}
.btn--favoriteStatus {
	z-index: 2;
	position: absolute;
	top: calc(var(--padding) / 2 + 40px);
	right: calc(var(--padding) / 2);
	opacity: 1;
}
.btn--favoriteStatus svg {
	transition: all 0.25s;
	stroke: #ffc107;
	fill: transparent;
}
.btn--favoriteStatus.isFavorite svg {
	fill: #ffc107;
}