/* Info */
.info {
	position: fixed;
	padding: var(--padding);
	background-color: var(--bg);
	border-radius: var(--padding);

	bottom: 0;
	height: 100%;
	width: 100%;
	transform: translateY(100vh);
	transition: transform 0.5s ease;

	overflow: hidden;
}
@media (min-width: 768px) {
	.info {
		top: 2%; bottom: 2%;
		margin-left: 1em;
		box-shadow: 0px 5px 15px 10px rgba(0,0,0,0.3);
		height: 96%;
		width: 35vw;
		transform: translateX(-36vw);
	}
}
@media (min-width: 992px) {
	.info {
		width: 30vw;
		transform: translateX(-31vw);
	}
}
@media (min-width: 1024px) {
	.info {
		width: 22vw;
		transform: translateX(-23vw);
	}
}

/* Image */
.info__image {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;

	min-width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
	border-radius: var(--padding);
	z-index: -1;
	background-color: rgb(120,120,120);
	animation: skeleton	0.8s ease infinite;
}
.info.c .info__image {
	opacity: 1;
}
@media (min-width: 768px) {
	.info__image {
		opacity: 1;
	}
}

/* Dot info */
.info.c .dot__info {
	overflow-y: auto;
}

/* Animation */
@keyframes skeleton {
	0% {
		background-color: rgb(120,120,120);
	}
	30% {
		background-color: rgb(136,136,136);
	}
	100% {
		background-color: rgb(120,120,120);
	}
}

/* Picture */
.info__picture {
	opacity: 0;
	transition: 0.5s opacity linear;
}

/* Text */
.info__text {
	transition: margin-top 0.5s;
}
.info.c .info__text {
	margin-top: 65%;
}
@media (min-width: 768px) {
	.info__text {
		margin-top: 65%;
	}
}