/* Search */
.search {
	position: fixed;
	top: var(--padding);
	left: var(--padding);
	background-color: var(--text);
	border-radius: 20px;
	overflow: hidden;
	z-index: 1;
}
/* Icon */
.search:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url(icons/search--white.svg);
	background-size: 40% auto;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}
.page.dark .search:before {
	background-image: url(icons/search--black.svg);
}


/* Input */
.search__input {
	width: 3em;
	height: 3em;
	border-radius: inherit;
	transition: all 0.25s;
	border: 2px solid var(--text);
}
.search__input:focus {
	width: 250px;
	color: var(--bg);
	background-color: var(--text);
}

/* Button */
.search__btn {
	position: absolute;
	top: 0;
	left: 210px;
	height: 40px;
	width: 40px;
	color: var(--bg);
	background-color: transparent;
	line-height: 40px;
	border-radius: 50%;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	text-align: center;
	z-index: 1;
	font-size: 2em;
	opacity: 1;
}

/* Item */
.search__list {
	padding: 0;
	margin: 0;
	max-height: calc(100vh - 4*var(--padding));
	overflow-y: scroll;
	list-style: none;
	background-color: var(--bg);
}
.search__list::-webkit-scrollbar {
	width: 0;
}

.search__item {
	width: 250px;
	padding: 0;
}
.search__item:before {
	content: none;
}
.search__link {
	padding: 1rem;
}
.search__link:before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: var(--text);
	opacity: 0.5;
	transition: opacity 0.25s;
	z-index: 0;
}
.search__link:hover:before { opacity: 0.25; }
.dot__item--red .search__link:before { background-color: var(--red); }
.dot__item--green .search__link:before { background-color: var(--green); }
.dot__item--blue .search__link:before { background-color: var(--blue); }
.dot__item--yellow .search__link:before { background-color: var(--yellow); }