span {
	font-weight: bold;
	padding: 3px;
	border-radius: 3px;
	color: #fff;
}
span.red {background-color: var(--red);}
span.green {background-color: var(--green); color: #000}
span.blue {background-color: var(--blue);}
span.yellow {background-color: var(--yellow); color: #000}
span.purple {background-color: var(--purple);}
span.tint {background-color: var(--tint); color: #000}
span.gray, span.center {
	background-color: #eee;
	color: #000;
}